
/* Popup window when clicked */
.img-window {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-img {
    max-height: 80vh;
    max-width: 80vw;
    z-index: 200;
}

.img-btn-next {
    display: block;
    font-size: 2rem;
    padding: 8px 30px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    right: 0;
    z-index: 500;
    color: var(--white);
    cursor: pointer;
}

.img-btn-prev {
    display: block;
    font-size: 2rem;
    padding: 8px 30px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    color: var(--white);
    cursor: pointer;
}

.img-btn-next:hover,
.img-btn-prev:hover {
    background-color: #282828;
    transition: 0.2s ease-out;
}